<%= render "shared/page_title", title: "Showing all Chefs"%>

<div align="center">
  <%= will_paginate %>
</div>

<% @chefs.each do |chef| %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1 chef-icon">
        <%= link_to gravatar_for(chef, size: 100) %>
      </div>
      <div class="well col-md-11">

        <div class="col-md-9 chef-info">
          <p><b><%= link_to "Chef: " + chef.chefname, chef_path(chef) %></b></p>
          <p>Contact: <%= chef.email %></p>
          <p><font size="2">Joined <%= time_ago_in_words(chef.created_at) %> ago</font></p>
        </div>

        <% if chef.recipes.any? %>
          <div class="col-md-2 chef-info">
            <p><b><%= chef.recipes.length %> recipes</b></p>
            <p><b><%= link_to "Latest Recipe: " + chef.recipes.first.name, recipe_path(chef.recipes.first) %></b></p>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>
