<%= render "shared/page_title", title: "Chef #{@chef.chefname}'s Profile" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= link_to gravatar_for(@chef, size: 150) %>
  </div>
</div>

<br/>

<h4 align="center"><%= @chef.chefname %>'s recipes</h4>

<div align="center">
  <%= will_paginate @chef_recipes%>
</div>

<% @chef_recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-12">
      <div class="well col-md-12">
        <div class="col-md-9 chef_info">
          <p><b><%= link_to recipe.name, recipe_path(recipe) %></b></p>
          <p>Contact: <%= recipe.description %></p>
          <p><font size="2">Created <%= time_ago_in_words(recipe.created_at) %> ago</font></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
