<%= render "shared/page_title", title: "Showing all recipes" %>

<div align="center">
  <%= will_paginate %>
</div>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1 chef-icon">
        <%= link_to gravatar_for(recipe.chef, size: 100) %>
      </div>
      <div class="well col-md-11">
        <%= render "shared/recipe_description", recipe: recipe %>
      </div>
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>
